body {
  background-color: #e6ede8;
}

label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

pre {
    font-size: .7rem;
    margin: 0;
}

.myButton {
  position: absolute;
  top: 50%;
  background-color:#44c767;
  border-radius:28px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
}

.myButton:hover {
	background-color:#5cbf2a;
}

.wrapper {
  text-align: center;
}